# Inherits rules from root .gitignore
# Only Expo/RN-specific additions below

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# EAS / prebuild generated folders
ios/
android/
.kotlin/

# Native signing
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# Env
.env
.env.*
!.env.example

node_modules/
*.orig.*
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
